---
layout: null
excluded_in_search: true
---

.post-preview { list-style-type: none; padding: 0; }

.post-preview li {
	padding-top: 30px;
	padding-left: 0px;
}

.post-preview .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-preview .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.post { margin-top: 10px; }

.post .meta {
  font-size: 15px;
  color: #818181;
  margin: 5px 0 40px;
}

.post-content h2 { margin-top: 2rem; }

code {
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}


.tldr {
	background-color: #ccf;
	border-radius: 20px;
	font-size: 18px;
	margin: 15px;
	padding: 20px;
}


.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  font-style: italic;
  margin: 30px 0;
}


.right_side img {
	width : 350px;
	margin : 15px 15px 15px 15px;
	float : right;
}




#groupsio_embed_signup input {
	border:1px solid #999; -webkit-appearance:none;
}

#groupsio_embed_signup label {
	display:block;
	font-size:16px;
	padding:0px 0px;
	font-weight:bold;
}

#groupsio_embed_signup .email {
	display:block;
	padding:8px 0;
	margin:0 4% 10px 0;
	text-indent:5px;
	width:58%;
	min-width:130px;
}

#groupsio_embed_signup {
	margin-top: 25px;
  clear:left;
	font: 14px 'Fugaz One', cursive;
}

#groupsio_embed_signup .button {
  width:25%; margin:0 0 10px 0; min-width:90px;
  background-color: #035893;
  border-color: #035893;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.toc-bump{
	margin-top: 20px;
	margin-bottom: 50px;
}
