---
title: Tags Index
permalink: /wiki/tags/
---

<h1 id="tags-index">Tags Index</h1>
{% capture site_tags %}{% for tag in site.tags %}{% if tag %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}{% endcapture %}{% assign wiki_tags = "" %}{% for doc in site.wiki %}{% assign ttags = doc.tags | join:',' | append:',' %}{% assign wiki_tags = wiki_tags | append:ttags %}{% endfor %}


{% assign all_tags = site_tags | append:wiki_tags %}{% assign tags_list = all_tags | split:',' | uniq | sort %}

{% for tag in tags_list %}{% if tag %}<h3 id="{{ tag | replace: '/', '-' }}" class="linked-section">{{ tag }}</h3>
<div class="post-list" style="margin-bottom:40px">
{% for doc in site.wiki %}{% if doc.tags contains tag %}
    <a href="{{- site.baseurl -}}{{- doc.url -}}" style="margin-right:10px;">{{ doc.title }}</a>
{% endif %}{% endfor %}
</div>{% endif %}{%- endfor -%}
